# Java
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/

# Node
node_modules/
dist/
build/
.pnpm-debug.log*
.vite/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# H2
*.h2.db
